@media screen and (min-width: 769px) {
    main {
        #noticia {
            display: grid;
            grid-template-areas:
                "noticia1 aside1"
                "noticia2 .";
            grid-template-columns: 70% 30%;

            .noticia-1 {
                grid-area: noticia1;

                article {
                    img {
                        width: 100%;
                        border-radius: 50px;
                        padding: 30px;
                    }
                }

                div {
                    padding-left: 30px;
                    border-bottom: 1px solid rgb(79, 78, 78);

                    h3 {
                        margin: 0;
                    }

                    p {
                        padding-top: 5px;
                        color: rgb(177, 171, 163);
                        margin: 0;
                        padding-bottom: 15px;
                    }
                }
            }

            .noticia-2 {
                grid-area: noticia2;

                ul {
                    margin: 0;
                    padding: 20px;

                    li {
                        gap: 15px;
                        display: flex;
                        padding-bottom: 15px;
                        padding-top: 15px;
                        border-bottom: 1px solid rgb(110, 110, 110);

                        div {
                            width: 35%;

                            img {
                                width: 100%;
                                border-radius: 15px;
                            }
                        }
                    }

                    .contenido-info {
                        padding: 10px;
                        width: 65%;

                        span {
                            color: rgb(35, 97, 97);
                        }

                        p {
                            margin: 0;
                        }

                        h3 {
                            font-size: 25px;
                        }
                    }
                }
            }

            .aside-1 {
                grid-area: aside1;

                div {
                    .title-equipos {
                        margin-top: 20px;

                        h3 {
                            font-size: 16px;
                            margin: 0;
                            padding: 20px;
                            border-bottom: 1px solid rgb(200, 191, 181);
                        }
                    }

                    ul {
                        display: flex;
                        margin: 0;
                        padding: 5px;
                        flex-wrap: wrap;

                        li {
                            display: flex;
                            gap: 10px;
                            height: 100%;
                            flex: 1 1 50%;
                            padding: 10px;

                            div {
                                width: 18%;

                                img {
                                    width: 100%;
                                    border-radius: 100%;
                                    height: 100%;
                                }
                            }

                            p {
                                margin: 0;
                            }
                        }
                    }
                }
            }
        }
    }
}