@media screen and (max-width: 768px) {
    header {
        background:linear-gradient(#56857c, transparent,#C1DCD7 ) ;
        padding: 2vh;
        color: rgb(53, 10, 10);
        font-style: normal;
        background-size: cover;
        justify-content: center;
        text-align: center;
        display: flex;

        .containerlogo {
            width: 30vh;
            .logo {
                width: 100%;
                filter: drop-shadow(0 0 15px #000);
            }
        }

        .containerheader {
            width: 70vh;
            word-spacing: 1px;
            margin-right: 15px;
            h6 {
                text-decoration: underline;
            }
        }

    }

    .bg-color {
        font-style: italic;
        font-weight: bold;
        background: linear-gradient(transparent,#C1DCD7, transparent);
        .container-fluid {
            a {
                width: 30%;
                img {
                    width: 50%;
                    filter: drop-shadow(0 0 15px #000);
                    &:active {
                        transform: translateX(5px);
                    }
                }
            }
            div ul li a {    
                font-size: 17px;
                color: rgb(0, 0, 0);
                font-size: 20px;
                transition: all 0.2s ease;
                &:hover {
                    background-color: #ffffff94;
                    border-radius: 10px;
                    transition: box-shadow 0.5s ease-in-out;
                    cursor: pointer;
                    box-shadow: 0 2px #666;
                    color: #ac9090;
                }
                &:active {
                    transform: translateX(5px);
                }
            }    
        }
    }

    main {
        .sec-noticia {
            .sec-noticia1 {
                padding: 10px;
                background: linear-gradient(#C1DCD7, transparent, #C1DCD7);
                filter: drop-shadow(0 0 15px #000);
                article {
                    div img {
                        width: 100%;
                    }
                    h2 {
                        font-size: 25px;
                        filter: drop-shadow(0 0 15px #000);
                    }
                    h3 {
                        text-align: center;
                        font-size: 16px;
                    }
                }
            }

            .sec-noticia2 {
                padding: 10px;
                background: linear-gradient(#C1DCD7, transparent, #C1DCD7);
                article {
                    div { 
                        display: flex;
                        align-items: center;
                        height: 20vh;
                        img {
                            width: 40%;
                            margin-right: 10px;
                            border-radius: 20px;
                            filter: drop-shadow(0 0 15px #000);
                        }
                        h4 {
                            font-size: 16px;
                            text-align: center;
                            padding: 10px;
                        }
                    }
                }
            }
        }
        .grilla {
            display: grid;
            grid-template-areas: 
            "imagen1" 
            "imagen2" 
            "imagen3";
            gap: 10px;
            margin: 10px;
            #imagen1 {
                grid-area: imagen1;
                box-shadow: 0 0 55px 0 #000;
                &:hover {
                    filter: drop-shadow(0 0 10px rgba(0, 0, 0, 0.5));
                    transform: scale(1.04);
                }
            }
              
            #imagen2 {
                grid-area: imagen2;
                box-shadow: 0 0 55px 0 #000;
                &:hover {
                    filter: drop-shadow(0 0 10px rgba(0, 0, 0, 0.5));
                    transform: scale(1.04);
                }
            }
              
            #imagen3 {
                grid-area: imagen3;
                box-shadow: 0 0 55px 0 #000;
                &:hover {
                    filter: drop-shadow(0 0 10px rgba(0, 0, 0, 0.5));
                    transform: scale(1.04);
                }
            }
        }
    }
    footer {
        background-color: rgb(167, 184, 184);
        padding: 10px;
        text-align: center;
        align-content: center;
        width: 100%;
        color: #000;
        .footer-container {
            .footer-logo {
                justify-content: center;
                display: flex;
                img {
                    width: 50%;
                    filter: drop-shadow(0 0 15px #000);
                } 
            }    
            .footer-links ul {
                display: flex;
                width: 90%;
                justify-content: center;
                gap: 15px;
                padding: 0;
                margin-left: 15px;
                li {
                    font-size: 15px;
                    margin-top: 15px;
                    list-style: none;
                    a {
                        text-decoration: none;
                        color: #2b2525;
                        &:hover {
                            background-color: #ffffff94;
                            border-radius: 10px;
                            color: #ac9090;
                            width: 100%;
                            transition: box-shadow 0.5s ease-in-out;
                            cursor: pointer;
                        }
                    }
                }         
            }
            .footer-contact {
                font-size: 15px;
            }       
        }
        .social-icons {
            ul {
                padding: 0;
                display: flex;
                gap: 20px;
                margin-bottom: 0;
                li {
                    list-style: none;
                    a { 
                        img {
                            width:90%;
                            filter: drop-shadow(0 0 15px #000);  
                        }
                    }
                }      
            } 
        } 
    }
}