@media screen and (min-width: 769px) {
    .main-contacto {
        background-color: #191f1e;
        section {
            padding: 50px;
            form {
                text-align: center;
                box-shadow: 0 0 35px #0006;
                max-width: 750px;
                margin: auto;
                h2 {
                    text-align: center;
                    color: #C1DCD7;
                    margin-bottom: 15px;
                    padding-top: 15px;
                }
                .form-input {
                    background-color: transparent;
                    box-shadow: 0 0 35px #0006;
                    padding: 12px;
                    input {
                        border-left:3px solid #397267;
                        width: 97%;
                        margin: 15px;
                        background: transparent;
                        border: 1px solid #cccaca;
                        padding: 6px 12px;
                        color: #26c7a9;
                    }
                }
            }
        }
    }
}