@media screen and (max-width: 768px) { 
    .main-contacto {    
        display: flex;
        justify-content: center;
        align-items: center;
        min-height: 100vh;
        background: linear-gradient(#262828,#494d4d );
        #contact {
            width: 100%;
            padding: 50px 20px;
            background-color: #eee7e7;
            box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
            border-radius: 8px;
            max-width: 600px;
            margin: 20px;
            .container-contact {
                max-width: 500px;
                margin: 0 auto;
                h2 {
                    text-align: center;
                    color: #333;
                    margin-bottom: 30px;
                }
                #contactForm {
                    .form-group {
                        margin-bottom: 20px;
                        label {
                            display: block;
                            margin-bottom: 8px;
                            color: #555;
                        }
                        input, textarea {
                            width: 100%;
                            padding: 10px;
                            border: 1px solid #ccc;
                            border-radius: 5px;
                            font-size: 16px;
                            font-family: 'Arial', sans-serif;
                            background-color: #f9f9f9;
                        }
                        textarea {
                            resize: none;
                        }
                    }
                    button {
                        width: 100%;
                        padding: 15px;
                        background-color: #28a745;
                        color: #fff;
                        border: none;
                        border-radius: 5px;
                        font-size: 18px;
                        cursor: pointer;
                        transition: background-color 0.3s ease;
                        &:hover {
                            background-color: #218838;
                        }
                    }
                }
            }
        }
    }
}